

@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}


.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
	
}

.planet{
  height: 80vh;
  width:80vh;
  position: absolute;
  z-index: 3;
  right: -70px;
margin-top: 60px;
  animation:rotation 25s infinite;
  opacity: 0.9;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


h1 {
  font-size: 7vw;
  text-align:left;
  color:white;
  margin: 0;
	padding: 0;
	font-weight: 900;
	position: absolute;
	 font-family: 'Kirang Haerang', cursive;
	letter-spacing: 2px;
}

/*my blob*/
a.ex1:link{
	  font-size: 1vw;
  text-align:left;
  color:#526893;
  margin: 0;
	padding: 0;
	font-weight: 900;
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
	left: 160px;
  top:382px;
    animation: tsize 1s infinite;
    text-decoration: none;
}

a.ex1:hover{
	color: #add8e6;
	  text-shadow: 2px 2px 8px #add8e6;
	   transform: scale(1.5);
}

a.ex1:visited{
	 color: #add8e6;
}

/*css flag*/
a.ex2:link{
	  font-size: 1vw;
  text-align:left;
  color:#526893;
  margin: 0;
	padding: 0;
	font-weight: 900;
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
  left: 620px;
  top:315px;
    animation: tsize 1s infinite;
    text-decoration: none;
}

a.ex2:hover{
	color: #add8e6;
	  text-shadow: 2px 2px 8px #add8e6;
	   transform: scale(1.5);
}

a.ex2:visited{
	 color: #add8e6;
}

/*font animation*/

a.ex3:link{
	   font-size: 1vw;
  text-align:left;
  color:#526893;
  margin: 0;
	padding: 0;
	font-weight: 900;
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
left: 850px;
  top:360px;
  animation: tsize 1s infinite;
    text-decoration: none;
}

a.ex3:hover{
	color: #add8e6;
	  text-shadow: 2px 2px 8px #add8e6;
	   transform: scale(1.5);
}

a.ex3:visited{
	 color: #add8e6;
}

/*iframe*/

a.ex4:link{
	   font-size: 1vw;
  text-align:left;
  color:#526893;
  margin: 0;
	padding: 0;
	font-weight: 900;
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
left: 770px;
  top:200px;
  animation: tsize 1s infinite;
    text-decoration: none;
}

a.ex4:hover{
	color: #add8e6;
	  text-shadow: 2px 2px 8px #add8e6;
	   transform: scale(1.5);
}

a.ex4:visited{
	 color: #add8e6;
}
/*element spector*/

a.ex5:link{
	   font-size: 1vw;
  text-align:left;
  color:#526893;
  margin: 0;
	padding: 0;
	font-weight: 900;
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
left: 460px;
  top:230px;
  animation: tsize 1s infinite;
    text-decoration: none;
}

a.ex5:hover{
	color: #add8e6;
	  text-shadow: 2px 2px 8px #add8e6;
	   transform: scale(1.5);
}

a.ex5:visited{
	 color: #add8e6;
}


a.ex6:link{
	   font-size: 1vw;
  text-align:left;
  color:#526893;
  margin: 0;
	padding: 0;
	font-weight: 900;
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
left: 430px;
  top:520px;
  animation: tsize 1s infinite;
    text-decoration: none;
}

a.ex6:hover{
	color: #add8e6;
	  text-shadow: 2px 2px 8px #add8e6;
	   transform: scale(1.5);
}

a.ex6:visited{
	 color: #add8e6;
}

@keyframes shadow{
  50% {box-shadow: 2px 2px 10px orange, 2px 2px 10px yellow, 2px 2px 10px #fed992;}
}

@keyframes size{
 50% {transform: scale(0.5);}
}

@keyframes tsize{
 50% {transform: scale(1.1);}
}

.dot1 {
  height: .5vw;
  width: .5vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 650px;
  top:302px;
  animation: size 1s infinite;
/*  opacity: 0.6;*/
}

.dot2 {
  height: .5vw;
  width: .5vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 500px;
  top:260px;
  animation: size 1s infinite;
/*  opacity: 0.6;*/
}

.dot3 {
  height: .5vw;
  width: .5vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 200px;
  top:420px;
  animation: size 1s infinite;
}

.dot4 {
  height: .5vw;
  width: .5vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 400px;
  top:520px;
  animation: size 1s infinite;
}
.dot5 {
  height: .5vw;
  width: .5vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 800px;
  top:220px;
  animation: size 1s infinite;
}

.dot6 {
  height: .5vw;
  width: .5vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 900px;
  top:350px;
  animation: size 1s infinite;
}



.line1{
	position: absolute;
	height: 340px;
	transform: rotate(62deg);
	left: 353px;
  top:173px;
  border-left: 1px solid white;
  animation: shadow 1s infinite;

}

.line2{
	position: absolute;
	height: 220px;
	transform: rotate(-63deg);
	left: 303px;
  top:362px;
  border-left: 1px solid white;
  animation: shadow 1s infinite;


}

.line3{
	position: absolute;
	height: 156px;
	transform: rotate(-74deg);
	left: 577px;
  top:206px;
  border-left: 1px solid white;
  animation: shadow 1s infinite;


}

.line4{
	position: absolute;
	height: 170px;
	transform: rotate(61deg);
	left: 728px;
  top:180px;
  border-left: 1px solid white;
  animation: shadow 1s infinite;


}
.line5{
	position: absolute;
	height: 165px;
	transform: rotate(-37deg);
	left: 853px;
  top:205px;
  border-left: 1px solid white;
  animation: shadow 1s infinite;


}
